<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Here are our service projects:</p>
    <ul>
        <% projects.forEach(project => { %>
            <li>
                <strong><%= project.name %></strong><br>
                Organization: <%= project.organization_name %><br>
                Location: <%= project.location %><br>
                Dates: <%= new Date(project.start_date).toLocaleDateString() %> – 
                       <%= new Date(project.end_date).toLocaleDateString() %><br>
                Description: <%= project.description %>
                <% if (project.image_filename) { %>
                    <br><img src="/images/<%= project.image_filename %>" alt="<%= project.name %>" style="max-width:200px;">
                <% } %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>